/* THEME CSS STARTS HERE */

/*
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif !important;
}
*/

.header__logo {
    height: 70px;
    max-width: 150px;
    line-height: 70px;
    float: left;
    transition: height .3s ease;
}

.header__button {
    float: right;
    height: 70px;
    line-height: 70px;
    transition: height .3s ease;
}

.directory-banner:after {
    content: "";
    width: 100vw;
    height: 100vh;
    border-radius: 50%;
    top: -15%;
    right: -60%;
    position: absolute;
    background-color: #ef8a28;
    z-index: -2;
}

.awemenu > li > a {
    text-transform: uppercase;
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 600;
    color: #5d5555;
}

.header .awemenu-nav {
    padding: 0;
    float: right;
}

.directory-banner__image {
    bottom: 5%;
}

.directory-section {
    padding-top: 200px;
    padding-bottom: 100px;
}

.awemenu > li > a:hover {
    color: #ef8a28;
}

.post-01:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 3;
    background: rgba(239, 138, 41, 0.92);
    opacity: 0;
    visibility: hidden;
    transition: all ease-out .5s;
}

.post-01__description {
    display: block;
    display: -webkit-box;
    height: 50.25px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.875;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #f7f7f7;
}

.grid-css {
    margin-top: 70px;
    margin-bottom: 30px;
}

.post-09__media img {
    width: 100%;
    height: 200px;
}

.btn-link {
    color: #ef8928;
    border-radius: 0;
}

.btn-link:focus,
.btn-link:hover {
    color: #f37621;
    text-decoration: underline;
    background-color: transparent;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #ef8928;
    text-decoration: none;
}

.post-detail {
    padding: 30px 25px;
    background-color: #fff;
    margin-bottom: 20px;
}

.social__item {
    font-size: 20px;
    color: #c2c2c2;
    display: inline-block;
    padding: 0px 5px;
    margin: 0 5px;
    transition: all ease .3s;
}

.post-detail__time {
    font-size: 16px;
    color: #c2c2c2;
    margin-bottom: 30px;
}

.footer__bottom {
    padding-top: 10px;
    background: #257a9c;
}

.footer__bottom .social {
    float: right;
    padding: 5px 0;
}

.social__style-05 .social__item {
    color: #fff;
}

.copyright {
    color: #fff;
    padding: 10px 0;
}

.iconbox-05__number {
    background-color: #ef8928;
}

.iconbox-05__icon {
    font-size: 48px;
    color: #ef8928;
}

.loading {
    background: #fff;
}

.social__style-05 .social__item:hover {
    color: #ef8622;
}

a:hover {
    text-decoration: none;
    color: #ef8622;
}

.btn-primary.hover,
.btn-primary:hover {
    color: #fff;
    background-color: #ef8622;
    border-color: #ef8622;
    opacity: .9;
}

.btn-primary.hover,
.btn-primary:active,
.btn-primary.hover,
.btn-primary:focus {
    color: #fff;
    background-color: #ef8622;
    border-color: #ef8622;
    opacity: .9;
}

/* THEME CSS ENDS HERE */

.custom-logo {
    width: 50px;
    margin: 0 auto;
}

.banner-cntnt-sec {
    width: 40%;
}

.awemenu-item .menu-icon {
    width: 25px;
    margin-right: 10px;
}

.post-img-sec {
    height: 300px;
}

.post-img {
    width: 100px;
}

section.md-section.index-second-sec {
    padding: 70px 0px 50px 0px;
    background: #f7f7f7;
}

.sec-p {
    padding: 70px 0px 70px 0px;
}

.reliable-card-sec {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    /*box-shadow: 0px 0px 10px 1px #f08c2c;*/
    margin-bottom: 20px;
}

.card-img-sec img {
    position: absolute;
    width: 100px;
    top: auto;
}

.card-content-sec {
    padding-left: 130px;
}

.card-content-sec .card-title {
    font-size: 26px;
    font-weight: 600;
    color: #ef8622;
    margin-bottom: 10px;
}

.card-content-sec .card-content {
    color: #0d7daa;
}

.subbanner-sec-title {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}

.subbanner-sub-content {
    font-size: 20px;
    letter-spacing: 1px;
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 50px;
}

section.md-section.contactus-sec {
    padding: 50px 0px 20px 0px;
    background: #f7f7f7;
}

.contactus-sec:before {
    content: "";
    width: 100vw;
    height: 55vh;
    border-radius: 50%;
    top: -15%;
    left: -60%;
    position: absolute;
    background-color: #ef8a28;
    z-index: -2;
    transform: rotate(45deg);
}

.contactus-sec:after {
    content: "";
    width: 100vw;
    height: 55vh;
    border-radius: 50%;
    top: -15%;
    right: -60%;
    position: absolute;
    background-color: #ef8a28;
    z-index: -2;
    transform: rotate(-45deg);
}

.banner-title {
    color: #0177a6 !important;
}

.subsec-title {
    color: #0177a6;
}

.clr-blk {
    color: #000;
}

.index-footer-sec {
    padding: 30px 0px 20px 0px;
    background: #fff;
}

.footer-logo-sec {
    text-align: center;
}

img.footer-logo {
    width: 150px;
    margin: 0 auto;
}

.banner-img {
    width: 60%;
    float: right;
}

.footer-sub-tit {
    margin-bottom: 25px;
    font-weight: 600;
    color: #ef8622;
}

.footer-bg-clr {
    background: #f3f3f3 !important;
}

.booknow-float-btn {
    width: 200px;
    height: 200px;
    background: #ef8622;
    position: fixed;
    right: -6%;
    bottom: -12%;
    z-index: 999;
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;
    /* transform: rotate(-34deg); */
    box-shadow: 0px 0px 5px 1px #ef8622;
}

a.booknow-float-img {
    width: 75px;
    display: inline-block;
    position: relative;
    left: 30px;
    top: 15%;
    background: #fff;
    border-radius: 50%;
    padding: 0px;
    -webkit-animation-name: steering-animation;
    -webkit-animation-duration: 8s;
    animation-name: steering-animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    /* box-shadow: 0px 0px 20px 1px #404040c2; */
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes steering-animation {
    0% {
        transform: rotate(-50deg);
    }

    25% {
        transform: rotate(50deg);
    }

    50% {
        transform: rotate(-50deg);
    }

    75% {
        transform: rotate(50deg);
    }

    100% {
        transform: rotate(-50deg);
    }
}

/* Standard syntax */
@keyframes steering-animation {
    0% {
        transform: rotate(-50deg);
    }

    25% {
        transform: rotate(50deg);
    }

    50% {
        transform: rotate(-50deg);
    }

    75% {
        transform: rotate(50deg);
    }

    100% {
        transform: rotate(-50deg);
    }
}

.testimonial {
    margin-bottom: 50px;
    padding: 30px;
    background: #f7f7f7;
}

/* BOOK NOW STARTS HERE */

span.main-tab-btmtxt {
    font-size: 13px;
    font-weight: 400;
    color: #404040;
}

/* MAIN TAB STARTS HERE */

.main-tab-features {
    display: flex;
    position: relative;
    justify-content: center;
}

.main-tab-line {
    position: absolute;
    border: 1px solid #444;
    width: 50%;
    margin-top: 50px;
}

.main-tab-feature-item {
    /*
  margin: 20px 40px 20px 0px;
  border: 1px solid #444;
  border-radius: 50%;
  background-color: #fff;
*/
    z-index: 10;
    cursor: pointer;
    text-align: center;
}

/*
.feature-item p {
  padding: 20px 23px;
  margin: 0;
}
*/
.main-tab-feature-item p {
    margin: 20px 30px 0px 30px;
    border: 1px solid #979797;
    /*    border: 1px solid #444;*/
    border-radius: 50%;
    background-color: #fff;
    padding: 13px 15px;
}

.main-tab-feature-descriptions {
    width: 95%;
    /*    text-align: center;*/
    padding: 20px 0;
    margin: 0 auto;
}

.main-tab-description {
    display: none;
    -webkit-animation: scaleUp ease 900ms;
    animation: scaleUp ease 900ms;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: scaleUp ease 900ms;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards;
    -o-animation: scaleUp ease 900ms;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode: forwards;
    -ms-animation: scaleUp ease 900ms;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode: forwards;
}


@keyframes scaleUp {
    0% {
        opacity: 0;
        transform: translate(0px, -25px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes scaleUp {
    0% {
        opacity: 0;
        -moz-transform: translate(0px, -25px);
    }

    100% {
        opacity: 1;
        -moz-transform: translate(0px, 0px);
    }
}

@-webkit-keyframes scaleUp {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, -25px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}

@-o-keyframes scaleUp {
    0% {
        opacity: 0;
        -o-transform: translate(0px, -25px);
    }

    100% {
        opacity: 1;
        -o-transform: translate(0px, 0px);
    }
}

@-ms-keyframes scaleUp {
    0% {
        opacity: 0;
        -ms-transform: translate(0px, -25px);
    }

    100% {
        opacity: 1;
        -ms-transform: translate(0px, 0px);
    }
}

/*
@-webkit-keyframes scaleUp {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    70% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleUp {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    70% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
*/

/* MAIN TAB ENDS HERE */

/* MULTIPLE STEP FORM STARTS HERE */

.action-button {
    margin: 10px auto;
    width: 85px;
    height: 30px;
    background-color: #ef8622;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}

.fs-title {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: lighter;
}

.fs-subtitle {
    font-size: 1.2em;
    font-weight: lighter;
}

.form fieldset {
    /*    background: white;*/
    border: 0 none;
    /*    border-radius: 3px;*/
    /*    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);*/
    /*    padding: 20px 30px;*/
    box-sizing: border-box;
    width: 100%;
    /*    margin: 0 auto;*/
    position: relative;
}

.form fieldset:not(:first-of-type) {
    display: none;
}

.progressBar {
    counter-reset: step;
    margin-bottom: 30px
}

.progressBar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    margin-bottom: 30px;
    float: left;
    position: relative;
    text-align: center;
}

.progressBar li::before {
    font-family: "FontAwesome";
    content: "\f276";
    display: block;
    margin: 0 auto 5px auto;
    background-color: #eaeaea;
    line-height: 15px;
    width: 25px;
    height: 25px;
    color: #424242;
    font-size: 14px;
    padding: 5px;
    border-radius: 25px;
}

.progressBar li.list-icon2::before {
    font-family: "FontAwesome";
    content: "\f1b9" !important;
    /*content: "\f1ba" !important;*/
}

.progressBar li.list-icon3::before {
    font-family: "FontAwesome";
    content: "\f00c" !important;
}

/*progressbar connectors*/
.progressBar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #cecece;
    position: absolute;
    left: -50%;
    top: 11px;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li:before,
.progressBar li:after {
    background-color: #eaeaea;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.progressBar li.active:before,
.progressBar li.active:after {
    background: #3f98bc;
    /*    background: #ef8928;*/
    color: white;
}


/* MULTIPLE STEP FORM ENDS HERE */

.booknow-input input {
    height: 40px;
    transition: .3s ease;
}

.booknow-input input:focus {
    border-bottom: 1px solid #ef8622;
    transition: .3s ease;
}

.booknow-input select {
    height: 40px;
    background-color: white;
    border-bottom: 1px solid #cdcdcd;
    border-radius: 0px;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 300;
    color: #424242;
    /*margin-bottom: 20px;*/
}

.booknow-input .form-label {
    font-size: 14px;
    color: #424242;
}

.form-label .required-clr {
    color: #f72525;
}

.form-main-sec {
    margin-top: 50px;
}

/*
.find-car-btn {
    height: auto !important;
    float: right;
    background-color: #0177a6;
}
*/
.find-car-btn {
    height: 30px !important;
    float: right;
    background: #ef8622 !important;
    /*background: linear-gradient(rgb(239, 134, 34), rgba(0, 0, 0, 0.55)) !important;*/
    border-bottom: 0px solid #0177a6 !important;
    color: #fff !important;
    width: 100px !important;
    text-align: center;
}

/*
.prev-car-btn {
    height: auto !important;
    float: left;
    background-color: #0177a6;
}
*/
.prev-car-btn {
    height: 30px !important;
    float: left;
    background-color: #0177a6;
    border: 1px solid #f19f51 !important;
    color: #f19f51 !important;
    width: 100px !important;
    text-align: center;
}

.form-main-tab-img {
    width: 40px;
    filter: grayscale(100%);
}

.progressbar-btn-txt {
    font-size: 12px;
    font-weight: 500;
    color: #424242;
}

/* RADIO BUTTON STARTS HERE */

.custom-radio-btn {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.radio input[type="radio"] + label:after,
.radio input[type="radio"] {
    opacity: 0;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.radio label {
    padding-left: 28px;
}

.checkbox label,
.radio label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    line-height: 27px;
    font-size: 14px;
    font-weight: 400;
    color: #575962;
}

.radio input[type="radio"] + label:after,
.radio input[type="radio"] {
    opacity: 0;
}

.radio label::before,
.radio label::after {
    content: " ";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #E3E3E3;
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 3px;
    padding: 1px;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.radio.custom-radio-btn input[type="radio"]:checked + label::after {
    width: 8px;
    height: 8px;
    background-color: #ef8725;
    border-color: #ef8725;
    top: 9px;
    left: 9px;
    opacity: 1;
}

.radio input[type="radio"]:checked + label::after {
    opacity: 1;
}

.radio input[type="radio"]:checked + label::after {
    width: 4px;
    height: 4px;
    background-color: #565aaf;
    border-color: #565aaf;
    top: 11px;
    left: 11px;
    opacity: 1;
}

.radio input[type="radio"]:checked + label::before {
    border: 1px solid #ef8725;
}

/* RADIO BUTTON ENDS HERE */

/*DATE-PICKER CSS STARTS HERE*/

.dtp div.dtp-date,
.dtp div.dtp-time {
    background: #0177a6 !important;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #0177a6 !important;
    color: #fff;
    text-align: center;
    padding: 0.3em;
}

.dtp div.dtp-actual-year {
    font-size: 1.5em;
    color: #fff !important;
}

.dtp .p10 > a {
    color: #fff !important;
    text-decoration: none;
}

.dtp table.dtp-picker-days tr > td > a.selected {
    background: #0177a6 !important;
    color: #fff;
}

button.dtp-btn-clear.btn.btn-flat.btn-sm {
    background-color: #fff !important;
}

button.dtp-btn-cancel.btn.btn-flat.btn-sm {
    background-color: #fff !important;
}

button.dtp-btn-ok.btn.btn-flat.btn-sm {
    background-color: #fff !important;
}


/*DATE-PICKER CSS ENDS HERE*/
.footer-sec {
    padding: 30px 0px 0px 0px;
    background: #f7f7f7;
}

section.book-now-scnd-sec {
    background-image: linear-gradient(rgba(239, 134, 34, 0.69), rgba(0, 0, 0, .5)), url("../img/custom/buk-now-bg.jpg");
    /*    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/custom/buk-now-bg.jpg");*/
    height: 100vh;
    background-size: cover;
    background-position: 10% 50%;
    background-repeat: no-repeat;
    /*    opacity: .7;*/
}

.buknow-pg-p {
    padding: 70px 0px 0px 0px;
}

.active-tab {
    box-shadow: 0px 0px 1px 1px #ef8921;
    border: 1px solid #ef8921 !important;
    color: #fff;
    background-color: #ef8622 !important;
}

.active-tab .form-main-tab-img {
    filter: brightness(10.25);
}

/*
.active-tab {
    box-shadow: 0px 0px 10px 2px #ef8921;
    border: 1px solid #ef8921 !important;
    color: #fff;
}
*/

.main-tab-description {
    background: transparent;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 20px 30px;
    width: 100%;
    margin: 0 auto;
}

.booknow-input input {
    background: transparent;
    border-bottom: 1px solid #cdcdcd;
    border-radius: 0px;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 300;
    height: 37px;
    color: #424242;
    margin-bottom: 20px;
}

/* BOOK NOW ENDS HERE */


/* TARIFF CHART STARTS HERE */


/* TABLE CSS STARTS HERE */

.custom-tbl table {
    width: 100%;
    table-layout: fixed;
}

.custom-tbl .tbl-header {
    background-color: rgb(239, 134, 34);
    /*background-color: rgba(255,255,255,0.3);*/
}

.custom-tbl .tbl-content {
    min-height: 270px;
    max-height: 270px;
    height: auto;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 142, 65, 0.36);
    /*    border: 1px solid rgba(255, 255, 255, 0.3);*/
}

.custom-tbl table th {
    padding: 15px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.custom-tbl table td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    color: #424242;
    border-bottom: solid 1px rgba(255, 142, 65, 0.19);
}

/* for custom scrollbar for webkit browser*/

.custom-tbl .tbl-content::-webkit-scrollbar {
    width: 6px;
}

.custom-tbl .tbl-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 142, 65, 0.38);
}

.custom-tbl .tbl-content::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 142, 65, 0.76);
}

.s-no-thtd {
    width: 7%;
}

/* TABLE CSS ENDS HERE */

.tariff-chart-tit {
    font-size: 34px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ef8928;
    letter-spacing: -.5px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.terms-ul {
    padding-left: 0px;
}

.terms-ul li {
    display: block;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 400;
    color: #7d7d7d;
}

.terms-ul li .terms-icon {
    color: #ef8928;
    padding-right: 10px;
}

h4.terms-tit {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin: 0px 0px 0px 0px;
}

.active-li a {
    color: #ef8a28 !important;
}

/* TARIFF CHART ENDS HERE */


/* TRIP ESTIMATION STARTS HERE */

.selectcar-label {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #ef8622;
    border-radius: 3px;
}

p.rate-per-km {
    font-size: 13px;
    font-weight: 400;
    color: #909090;
    margin: 5px 0px;
    text-align: center;
}

h4.selectcar-tit {
    font-size: 20px;
    font-weight: 600;
    color: #5d5555;
    margin: 0px 0px 15px 0px;
}

.tripesti-box {
    background: #fff;
    padding: 20px 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.12);
}

/* IMAGE RADIO BUTTON STARTS HERE */

.radio-img-input-hidden {
    position: absolute;
    left: -9999px;
}

.radio-img-input-hidden:checked + label {
    border: 1px solid #ef8622;
    background: #ef8622;
    box-shadow: 0px 5px 20px 0px rgba(28, 28, 28, 0.24);
    /*box-shadow: 0 10px 10px -5px #d4cbc38c;*/

}

.radio-img-input-hidden:checked + label > img {
    border: 0px solid #ef8622;
    filter: brightness(10.25);
}

/* Stuff after this is only to make things more pretty */
.radio-img-input-hidden + label > img {
    /*    border: 1px solid #ef8622;*/
    width: 50px;
    height: 60px;
    transition: 10ms ease;
    cursor: pointer;
    object-fit: contain;
}


/* IMAGE RADIO BUTTON ENDS HERE */

/* TOOLTIP STARTS HERE */

[data-tooltip] {
    cursor: pointer;
    position: relative;
    /********** Default Behavior ********* */
    /********** Timeout Variant ********* */
    /********** Tooltip Sizes ********* */
    /********** Top Tooltip ********* */
    /********** Right Tooltip ********* */
    /********** Bottom Tooltip ********* */
    /********** Left Tooltip ********* */
}

[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.15s cubic-bezier(0.5, 1, 0.25, 1);
    z-index: 1;
}

[data-tooltip]:before {
    padding: 5px;
    width: 110px;
    border-radius: 3px;
    background: #000;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
}

[data-tooltip]:after {
    border: 8px solid transparent;
    width: 0;
    content: "";
    font-size: 0;
    line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

[data-tooltip].t-xl:before {
    width: 200px;
}

[data-tooltip].t-lg:before {
    width: 170px;
}

[data-tooltip].t-md:before {
    width: 140px;
}

[data-tooltip].t-sm:before {
    width: 110px;
}

[data-tooltip].t-xs:before {
    width: 80px;
}

[data-tooltip].t-top:before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
}

[data-tooltip].t-top:after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 8px solid #000;
    border-bottom: none;
}

[data-tooltip].t-top:hover:before,
[data-tooltip].t-top:hover:after {
    transform: translateX(-50%) translateY(-5px);
}

[data-tooltip].t-right:before {
    top: 50%;
    left: 100%;
    margin-left: 5px;
    transform: translateY(-50%);
}

[data-tooltip].t-right:after {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-right: 8px solid #000;
    border-left: none;
}

[data-tooltip].t-right:hover:before,
[data-tooltip].t-right:hover:after {
    transform: translateX(5px) translateY(-50%);
}

[data-tooltip].t-bottom:before {
    top: 100%;
    left: 50%;
    margin-top: 5px;
    transform: translateX(-50%);
}

[data-tooltip].t-bottom:after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 8px solid #000;
    border-top: none;
}

[data-tooltip].t-bottom:hover:before,
[data-tooltip].t-bottom:hover:after {
    transform: translateX(-50%) translateY(5px);
}

[data-tooltip].t-left:before {
    top: 50%;
    right: 100%;
    margin-right: 5px;
    transform: translateY(-50%);
}

[data-tooltip].t-left:after {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-left: 8px solid #000;
    border-right: none;
}

[data-tooltip].t-left:hover:before,
[data-tooltip].t-left:hover:after {
    transform: translateX(-5px) translateY(-50%);
}

/* TOOLTIP ENDS HERE */

.tripbill-sec {
    padding: 10px 15px;
    margin: 20px 0px;
    background: #fff;
    box-shadow: 0px 0px 1px 0px #c5c1c1;
}

h3.paybill-tit {
    font-size: 20px;
    font-weight: 400;
    color: #ef8928;
    margin-bottom: 0px;
}

.tripbill-inner-sec {
    padding: 5px 0px 0px 0px;
    margin: 10px 0px;
    border-top: 1px solid #e5e4e4;
    border-bottom: 1px solid #e5e4e4;
}

p.tripbill-txt {
    font-size: 14px;
    font-weight: 400;
    color: #6b6969;
    margin: 10px 0px;
}

span.tripbill-rate {
    font-size: 15px;
    font-weight: 500;
    float: right;
}

p.tripbill-total {
    font-size: 16px;
    font-weight: 500;
    color: #6b6969;
    padding-top: 10px;
    margin: 10px 0px;
    border-top: 1px solid #e5e4e4;
}

p.note-txt {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .5px;
    color: #0177a6;
    margin: 10px 0px 2px 0px;
}

.tripesti-box input {
    background: transparent;
    border-bottom: 1px solid #cdcdcd;
    border-radius: 0px;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 300;
    height: 37px;
    color: #424242;
    margin-bottom: 20px;
}

.tripesti-box input:focus {
    border-bottom: 1px solid #ef8622;
    transition: .3s ease;
}

/* TRIP ESTIMATION ENDS HERE*/

/* CONTACT-US STARTS HERE */

iframe.contactus-map {
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    position: relative;
    width: 100%;
    height: 450px;
}

.contactus-form {
    margin-top: 10px;
    margin-bottom: 60px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px #eee;
}

.plr0 {
    padding-left: 0px;
    padding-right: 0px;
}

.pb0 {
    padding-bottom: 0px;
}

.contactus-textarea {
    width: 100%;
    height: 100px !important;
    resize: none;
}

.contactus-submit-btn {
    background: #ef8622;
    border: 1px solid #ef8622;
    width: 25%;
    margin-top: 20px;
    float: right;
}

.contact-address {
    background: #fff;
    color: #424242;
    border-radius: .4em;
    overflow: hidden;
    /*box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.07);*/
    padding: 0px 50px;
    margin: 25px 20px;
}

.contact-det {
    display: table;
    overflow: hidden;
    position: relative;
    height: auto;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.07);
    margin: 10px;
    float: left;
    width: 100%;
}

p.addrs-details {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    margin-bottom: 0px;
    width: 75%;
}

.contact-icon {
    font-size: 50px;
    color: #ffffff;
    width: 25%;
    display: table-cell;
    text-align: center;
    background: #ef8622;
}

h3.contact-main-tit {
    margin: 50px 0px 10px 0px;
    font-size: 30px;
    font-weight: 600;
    color: #ef8622;
    text-transform: uppercase;
    text-align: center;
}

.contactus-form input,
.contactus-form textarea {
    background: transparent;
    border-bottom: 1px solid #cdcdcd;
    border-radius: 0px;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 300;
    height: 37px;
    color: #424242;
    margin-bottom: 20px;
}

.contactus-form input:focus,
.contactus-form textarea:focus {
    border-bottom: 1px solid #ef8622;
    transition: .3s ease;
}

/* CONTACT-US ENDS HERE */

/* AUTH MODAL STARTS HERE */


.auth-input {
    background: transparent !important;
    border-bottom: 1px solid #cdcdcd !important;
    border-radius: 0px !important;
    padding-left: 0px !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    height: 37px !important;
    color: #424242 !important;
    margin-bottom: 20px !important;
}

.auth-input:focus {
    border-bottom: 1px solid #ef8622 !important;
    transition: .3s ease !important;
}

span.form__label.form-label {
    font-size: 12px;
    line-height: .9;
}

/*
.auth-modal-w {
    width: 450px;
    margin: 30px auto;
}

.custom-modal-body {
    position: relative;
    padding: 30px;
}
*/

.signin-link {
    font-size: 13px;
    color: #696666;
    margin-top: 15px;
    margin-bottom: 0px;
    float: left;
}

.signin-link a {
    color: #ef8622;
}

.forgot-pwd {
    font-size: 13px;
    color: #696666;
    margin-top: -5px;
    margin-bottom: 10px;
    /*    color: #ef8622;*/
    float: right;
}

.login-btn {
    background: #ef8622;
    border: 1px solid #ef8622;
    width: 30%;
    margin-top: 5px;
    float: right;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    letter-spacing: .5px;
    font-size: 14px;
    font-weight: 400;
}

h4.custom-modal-header {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #0177a6;
    letter-spacing: .5px;
}

/*
button.close.modal-cls-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    border-radius: 50px;
    padding: 8px 12px;
    box-shadow: 0px 0px 10px 1px #737373;
    opacity: 1;
    color: #ef8622;
    border: 2px solid #ef8622;
}
*/

.auth-main-sec {
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.12);
    /*box-shadow: 0px 0px 10px 2px #ccc;*/
    padding: 30px 50px;
    margin: 70px 0px 100px 0px;
}

/* AUTH MODAL ENDS HERE */
.mt0 {
    margin-top: 0px !important;
}

.add-btm-cmnt-sec .add-comment.custom-form {
    padding: 20px;
    margin: 20px 0px;
    /*    float: left;*/
    border: 2px dashed #cccc;
    border-radius: 3px;
}

.add-btm-cmnt-sec .add-comment.custom-form textarea {
    height: 100px;
    resize: none;
}

.rply-submit-btn {
    background: #ffffff;
    border: 1px solid #ef8622;
    color: #ef8622;
    width: 15%;
    margin-top: 10px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    font-weight: 500;
}

.pointer {
    cursor: pointer;
}

.related-blogs img {
    height: 200px;
    object-fit: cover;
}

h3.related-blog-tit {
    font-size: 24px;
    font-weight: 600;
    color: #ef8a29;
    margin: 0px 0px 15px 0px;
}

.blog-det {
    margin-top: 50px;
}

.footer-input {
    border-bottom: 0px solid #dadada !important;
    border-radius: 3px !important;
    background: #fff !important;
}

.footer-input-submit {
    color: #fff !important;
    /* border: 1px solid #dadada !important; */
    border-radius: 0px !important;
    background-color: #ef8622 !important;
}

.about-banner {
    background: url("../img/backgrounds/3.jpg");
    height: auto;
}

.about-tit {
    font-size: 60px;
    letter-spacing: .5px;
    margin: 70px 0px 0px 0px;
}

.about-sub-tit {
    font-size: 30px;
    line-height: 40px;
}

.about-cntnt {
    font-size: 16px;
    font-weight: 400;
}

.footer-adrs-sec {
    position: relative;
}

span.footer-adrs-icon {
    position: absolute;
    font-size: 18px;
    color: #ef8622;
}

p.footer-adrs {
    padding-left: 30px;
    font-size: 16px;
}

/* TESTIMONIAL STARTS HERE */

.testim {
    width: 100%;
    /*		position: absolute;*/
    /*
		top: 50%;
		-webkit-transform: translatey(-50%);
		-moz-transform: translatey(-50%);
		-ms-transform: translatey(-50%);
		-o-transform: translatey(-50%);
		transform: translatey(-50%);
*/
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #919191;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
    color: #ea830e;
}


.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #919191;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #ea830e;
    border-color: #ea830e;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;
    -moz-animation: testim-scale .5s ease-in-out forwards;
    -ms-animation: testim-scale .5s ease-in-out forwards;
    -o-animation: testim-scale .5s ease-in-out forwards;
    animation: testim-scale .5s ease-in-out forwards;
}

.testim .cont {
    position: relative;
    overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}


.testim .cont > div.active {
    position: relative;
    opacity: 1;
}


.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: #ea830e;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #424242;
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;
    -moz-animation: testim-show .5s ease-in-out forwards;
    -ms-animation: testim-show .5s ease-in-out forwards;
    -o-animation: testim-show .5s ease-in-out forwards;
    animation: testim-show .5s ease-in-out forwards;
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;
    -moz-animation: testim-content-in .4s ease-in-out forwards;
    -ms-animation: testim-content-in .4s ease-in-out forwards;
    -o-animation: testim-content-in .4s ease-in-out forwards;
    animation: testim-content-in .4s ease-in-out forwards;
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;
    -moz-animation: testim-content-in .5s ease-in-out forwards;
    -ms-animation: testim-content-in .5s ease-in-out forwards;
    -o-animation: testim-content-in .5s ease-in-out forwards;
    animation: testim-content-in .5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;
    -moz-animation: testim-hide .5s ease-in-out forwards;
    -ms-animation: testim-hide .5s ease-in-out forwards;
    -o-animation: testim-hide .5s ease-in-out forwards;
    animation: testim-hide .5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;
    -moz-animation: testim-content-out .4s ease-in-out forwards;
    -ms-animation: testim-content-out .4s ease-in-out forwards;
    -o-animation: testim-content-out .4s ease-in-out forwards;
    animation: testim-content-out .4s ease-in-out forwards;
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;
    -moz-animation: testim-content-out .5s ease-in-out forwards;
    -ms-animation: testim-content-out .5s ease-in-out forwards;
    -o-animation: testim-content-out .5s ease-in-out forwards;
    animation: testim-content-out .5s ease-in-out forwards;
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}

@media all and (max-width: 500px) {
    .testim .arrow {
        font-size: 1.5em;
    }

    .testim .cont div p {
        line-height: 25px;
    }

}


/* TESTIMONIAL ENDS HERE */

.mypro-div {
    margin: 50px 0px 50px 0px;
}

/*
.mypro-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
*/

.myproimg-sec {
    background: #fff;
    box-shadow: 0px 0px 3px 0px #eee;
    padding: 10px;
}

.mypro-details {
    background: #fff;
    box-shadow: 0px 0px 3px 0px #eee;
    height: 220px;
    padding: 25px 25px;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #666;
    padding: 15px 15px;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
    color: #ef8622 !important;
    background: transparent;
}

.nav-tabs > li > a::after {
    content: "";
    background: #ef8622;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 0px 3px 0px #eee;
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width: 33.3%;
    text-align: center;
}



span.ongoing-bg {
    padding: 3px 15px;
    background: #fff;
    color: #08aed4;
    border-radius: 30px;
    border: 1px solid #08aed4;
    font-size: 12px;
}

span.cmpltd-bg {
    padding: 3px 15px;
    background: #fff;
    color: #09b756;
    border-radius: 30px;
    border: 1px solid #09b756;
    font-size: 12px;
}

span.cancld-bg {
    padding: 3px 15px;
    background: #fff;
    color: #ff3333;
    border-radius: 30px;
    border: 1px solid #ff3333;
    font-size: 12px;
}

p.mypro-name {
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 5px;
}

p.mypro-subdetails {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #fff;
}

span.mypro-icon {
    font-size: 15px;
    padding-right: 15px;
    color: #fff;
    /*color: #87bed5;*/
}

.addrs-thtd {
    width: 25%;
}

.mypro-banner-sec {
    background: url("../img/custom/blog-img1.jpg");
    height: auto;
    text-align: center;
    padding: 50px 0px;
    background-size: cover;
    background-position: 50% 65%;
    position: relative;
    z-index: 1;
}

.banner-overlay {
    background: #0000007d;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    display: block;
    top: 0;
}

.mypro-img {
    width: 90px;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 15px -2px #fff;
    margin: 15px 0px;
}

/*SCRIPT CSS STARTS HERE*/

.validationrtxt {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.validationptxt {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.validationetxt {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.validationimgtxt {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.validationvideotxt {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.validationotptxt {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.changenumtxt {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.loginmodalp {
    padding: 20px 40px 20px 10px;
}

.loginname {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.loginpwd {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.loginpwdinvalid {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.h100 {
    height: 100px !important;
}

.phonenumbertxt {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.resetpwdtxt {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.changepwdtxt {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.resetpwdtxt1 {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.resetpwdtxt2 {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.validateoppo,
.opvalidateoppo {
    display: none;
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.validateoppoimg {
    font-size: 12px;
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

/*REGISTER SCRIPT CSS*/

.validationrtxt {
    display: none;
}

.validationrtxt {
    display: none;
}

.validationptxt {
    display: none;
}

.validationetxt {
    display: none;
}

.validationimgtxt {
    display: none;
}

.validationvideotxt {
    display: none;
}

.validationotptxt {
    display: none;
}

.changenumtxt {
    display: none;
}

.validateoppoimg {
    display: none;
}

/*SCRIPT CSS ENDS HERE*/

/* MEDIA CSS STARTS HERE */
@media (min-width: 1200px) {
    .heading {
        margin-bottom: 50px;
    }
}

@media (max-width: 1100px) {
    .header .awemenu-nav {
        padding: 0;
        float: right;
        top: 15px;
    }

    .awemenu-nav .awemenu {
        width: 300px;
        background-color: #f5f5f5;
        box-shadow: 0 0px 15px 0px rgba(0, 0, 0, .1);
    }

    section.book-now-scnd-sec {
        height: 56vh;
    }

    .footer-sub-tit {
        margin-bottom: 15px;
        font-weight: 600;
        color: #ef8622;
    }

    .progressBar li::before {
        content: "\f276";
        font-size: 12px;
    }

    .header.shrink .awemenu-nav {
        padding: 0px;
    }
}

@media (max-width: 800px) {
    .custom-tbl {
        margin-bottom: 25px;
    }
}

@media (max-width: 480px) {
    .directory-section {
        padding-top: 130px;
        padding-bottom: 170px;
    }

    .directory-banner__image {
        bottom: -25%;
        padding-bottom: 100px;
    }

    .banner-img {
        width: 100%;
        float: right;
    }

    .banner-cntnt-sec {
        width: 95%;
    }

    section.md-section.contactus-sec {
        margin-top: 140px;
        padding: 50px 0px 20px 0px;
        background: #f7f7f7;
    }

    .footer-logo-sec {
        text-align: left;
        margin: 10px 0px 30px 0px;
    }

    .awemenu-nav {
        padding: 15px 20px !important;
    }

    .awemenu-nav .awemenu {
        width: 300px;
        background-color: #f5f5f5;
    }

    .booknow-float-btn {
        width: 175px;
        height: 175px;
        background: #0177a6;
        position: fixed;
        right: -18%;
        bottom: -9%;
        z-index: 999;
        border-top-left-radius: 60%;
        border-bottom-left-radius: 60%;
        /* transform: rotate(-34deg); */
        box-shadow: 0px 0px 20px 2px #0177a6c7;
    }

    a.booknow-float-img {
        width: 60px;
        display: inline-block;
        position: relative;
        left: 25px;
        top: 22%;
        background: #fff;
        border-radius: 50%;
        padding: 0px;
        -webkit-animation-name: steering-animation;
        -webkit-animation-duration: 8s;
        animation-name: steering-animation;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        /* box-shadow: 0px 0px 20px 1px #404040c2; */
    }

    /* BOOKNOW MEDIA STARTS HERE */

    .main-tab-features {
        display: flex;
        position: relative;
        justify-content: center;
        margin: 50px 0px 0px 0px;
    }

    .main-tab-feature-item p {
        margin: 20px 15px 5px 15px;
        border: 1px solid #444;
        border-radius: 50%;
        background-color: #fff;
        padding: 0px;
        width: 60px;
        height: 55px;
    }

    .form-main-tab-img {
        width: 30px;
        margin-top: 12px;
    }

    .main-tab-line {
        position: absolute;
        border: 1px solid #444;
        width: 70%;
        margin-top: 50px;
    }

    span.main-tab-btmtxt {
        font-size: 12px;
        font-weight: 400;
        color: #404040;
        padding: 0px 5px;
    }

    .main-tab-feature-descriptions {
        width: 100%;
        /* text-align: center; */
        padding: 10px 0;
        margin: 0 auto;
    }

    .form fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        /*        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
        /*        padding: 20px 30px;*/
        box-sizing: border-box;
        /*        width: 95%;*/
        margin: 0 auto;
        position: relative;
    }

    .progressBar li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 9px;
        width: 30.33%;
        margin-bottom: 30px;
        float: left;
        position: relative;
        text-align: center;
    }

    /* BOOKNOW MEDIA ENDS HERE */
    img.footer-logo {
        width: 80px;
        margin: 0 auto;
    }

    .footer__bottom .social {
        float: none;
        padding: 5px 0;
    }

    .header .awemenu-nav {
        top: 0px;
        right: -15px;
    }

    /* TESTIMONIAL STARTS HERE */

    .testim .cont div .img img {
        display: block;
        width: 75px;
        height: 75px;
        margin: auto;
        border-radius: 50%;
    }

    .testim .cont div p {
        font-size: 14px;
        line-height: 22px;
        color: #424242;
        width: 80%;
        margin: auto;
    }

    .testim .dots {
        bottom: 60px;
        height: 25px;
        padding-left: 0px;
    }

    .testim .arrow {
        font-size: 18px;
    }

    /* TESTIMONIAL ENDS HERE */

    /* INDEX STARTS HERE */

    .subbanner-sec-title {
        font-size: 20px;
    }

    .subbanner-sub-content {
        font-size: 16px;
        margin-bottom: 35px;
    }

    .card-img-sec img {
        width: 70px;
        top: auto;
    }

    .card-content-sec {
        padding-left: 100px;
    }

    .card-content-sec .card-content {
        color: #0d7daa;
        font-size: 14px;
        margin-bottom: 0px;
    }

    .card-content-sec .card-title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .heading__title {
        font-size: 20px;
    }

    .subcntnt-fs {
        font-size: 14px;
    }

    .testim .wrap {
        padding: 15px 20px 40px 20px;
        margin: auto;
    }

    .footer-sub-tit {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 600;
        color: #ef8622;
    }

    .widget-text__widget ul li,
    .widget.widget_categories ul li,
    .widget.widget_pages ul li {
        margin-bottom: 4px;
        font-size: 14px;
    }

    p.footer-adrs {
        padding-left: 25px;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .footer__item {
        margin-bottom: 20px;
        color: #1a1a23;
    }

    .form-sub__description {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .copyright {
        color: #fff;
        padding: 10px 0px 0px 0px;
        font-size: 14px;
    }

    span.footer-adrs-icon {
        position: absolute;
        font-size: 14px;
        color: #ef8622;
    }

    .social__item {
        font-size: 16px;
    }

    .footer__bottom {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #257a9c;
    }

    .mbl-p0 {
        padding-bottom: 0px;
    }

    .awemenu > li > a {
        height: 55px;
        line-height: 55px;
    }

    .custom-tbl table td {
        padding: 15px 0px 15px 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 400;
        font-size: 13px;
        color: #424242;
        border-bottom: solid 1px rgba(255, 142, 65, 0.19);
    }

    /* INDEX ENDS HERE */

    .tariff-chart-tit {
        font-size: 24px;
    }

    p.rate-per-km {
        margin: 5px 0px 20px 0px;
    }

    h3.contact-main-tit {
        margin: 35px 0px 10px 0px;
        font-size: 24px;
    }
}

@media (max-width: 360px) {
    .main-tab-description {
        background: transparent;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
        padding: 10px 15px;
        width: 100%;
        margin: 0 auto;
    }

    .progressbar-btn-txt {
        font-size: 10px;
        font-weight: 500;
        color: #424242;
    }
}

@media (max-width: 320px) {
    .copyright {
        color: #fff;
        padding: 10px 0px 0px 0px;
        font-size: 12px;
    }

    .subcntnt-fs {
        font-size: 12px;
    }

    .subbanner-sec-title {
        font-size: 16px;
    }

    .subbanner-sub-content {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .card-img-sec img {
        width: 50px;
        top: auto;
    }

    .card-content-sec {
        padding-left: 65px;
    }

    .card-content-sec .card-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .card-content-sec .card-content {
        color: #0d7daa;
        font-size: 12px;
        margin-bottom: 0px;
        line-height: 18px;
    }

    .reliable-card-sec {
        padding: 15px;
    }

    .sec-p {
        padding: 40px 0px 40px 0px;
    }

    .testim .cont div .img img {
        display: block;
        width: 55px;
        height: 55px;
        margin: auto;
        border-radius: 50%;
    }

    .testim .cont div h2 {
        color: #ea830e;
        font-size: 14px;
        margin: 8px 0;
    }

    .testim .cont div p {
        font-size: 12px;
        line-height: 18px;
    }

    .testim .dots .dot {
        width: 8px;
        height: 8px;
        margin: 0 5px;
    }

    .testim .arrow {
        font-size: 14px;
    }

    .footer-sub-tit {
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: 600;
        color: #ef8622;
    }

    .widget-text__widget ul li,
    .widget.widget_categories ul li,
    .widget.widget_pages ul li {
        margin-bottom: 2px;
        font-size: 12px;
    }

    p.footer-adrs {
        padding-left: 20px;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .form-sub__description {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .footer__bottom {
        padding-top: 5px;
        padding-bottom: 5px;
        background: #257a9c;
    }

    .awemenu > li > a {
        text-transform: uppercase;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        font-size: 12px;
        font-weight: 600;
        color: #5d5555;
    }

    .awemenu-item .menu-icon {
        width: 25px;
        margin-right: 10px;
    }

    .main-tab-feature-item p {
        margin: 10px auto 5px auto;
        border: 1px solid #444;
        border-radius: 50%;
        background-color: #fff;
        padding: 0px;
        width: 50px;
        height: 50px;
    }

    .custom-radio-btn {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .radio input[type="radio"] + label:after,
    .radio input[type="radio"] {
        opacity: 0;
        height: auto;
        margin-bottom: 0px;
    }

    .checkbox label,
    .radio label {
        padding-left: 30px;
        font-size: 13px;
    }

    .progressBar li {
        margin-bottom: 15px;
    }

    .form-main-tab-img {
        width: 25px;
        margin-top: 12px;
    }

    .awemenu-nav .awemenu {
        width: 250px;
        background-color: #f5f5f5;
    }

    p.note-txt {
        font-size: 9px;
    }

    h3.paybill-tit {
        font-size: 15px;
    }

    p.tripbill-txt {
        font-size: 12px;
        margin: 7px 0px;
    }

    span.tripbill-rate {
        font-size: 13px;
    }

    p.tripbill-total {
        font-size: 14px;
        margin: 7px 0px;
    }

    .login-btn {
        width: 33%;
        font-size: 12px;
    }

    h3.contact-main-tit {
        margin: 50px 0px 10px 0px;
        font-size: 24px;
    }
}

/* MEDIA CSS ENDS HERE */
